<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html</td> charset=UTF-8" />
<title>leaveCategoryList.html</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	// 카테고리 버튼 클릭 이벤트
	$('#customerListButton').click(function(){
		console.log('거래처 버튼 테스트');
		location.href='/customerListView';		
	});	
});
</script>
</head>
<body>
<div class="row">
	<div class="col-2" style="padding-right:20px; border-right: 1px solid #ccc;">
		<h1>주</h1>
		<h1>진</h1>
		<h1>호</h1>
		<h1>짱</h1>
		<h1>짱</h1>
		<h1>허</h1>
		<h1>언</h1>
		<h1>증</h1>
		<h1>맨</h1>
	</div>
	<div class="col-3" style="padding-right:20px; border-right: 1px solid #ccc;">		
		<h4>account</h4>				
			<div th:type="button" class="btn btn-outline-dark" id="customerListButton">거래처</div>				
	</div>
	<div class="col-7">				
		<h5>거래처 리스트</h5>					
		<table border="1">			
			<tr>					
				<th>customerName</th>
				<th>customerPhone</th>
				<th>customerCorporateRegistrationNumber</th>
				<th>customerAddress</th>
				<th>customerBank</th>
				<th>customerAccountHolder</th>
				<th>customerAccountNumber</th>
				<th>customerUse</th>
				<th>customerDate</th>				
				<th>memberId</th>				
			</tr>			
			 <tr th:each="customerList:${customerList}">					
				<td th:text="${customerList.customerName}"></td>
				<td th:text="${customerList.customerPhone}"></td>
				<td th:text="${customerList.customerCorporateRegistrationNumber}"></td>
				<td th:text="${customerList.customerAddress}"></td>
				<td th:text="${customerList.customerBank}"></td>
				<td th:text="${customerList.customerAccountHolder}"></td>
				<td th:text="${customerList.customerAccountNumber}"></td>
				<td th:text="${customerList.customerUse}"></td>
				<td th:text="${customerList.customerDate}"></td>				
				<td th:text="${customerList.memberId}"></td>
			</tr>				
		</table>					
	</div>
</div>
</body>
</html>