<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ksmart31.team01.member.mapper.DepartmentMapper">
	<select id="selectDepartmentList" resultType="ksmart31.team01.member.vo.Department">
		SELECT 
			 member_name as memberName
			,department_name as departmentName
			,department_category_code as departmentCategoryCode
			,department_category_name as departmentCategoryName
			,department_division_code as departmentDivisionCode
			,department_category_name as departmentCategoryName
			,department_section_code as departmentSectionCode
			,department_category_name as departmentCategoryName			
			,member_position_name as memberPositionName
			,member_id as meberId
			,member_mobile as memberMobile
		FROM 
			member
		ORDER BY 
			department_category_name asc;
		 <!-- <if test="departmentSectionCode != null">
          departmentSectionCode = #{departmentSectionCode}
    	 </if>
	     <if test="departmentDivisionCode != null">
	          AND title like #{title}
	     </if>
	     <if test="title != null">
	          AND title like #{title}
	     </if> -->
		
	</select>
	
	<select id="selectMemberList" parameterType="ksmart31.team01.member.vo.Member"
	resultType="ksmart31.team01.member.vo.Member">
		SELECT
			 member_name as memberName
			,department_name as departmentName
			,department_category_code as departmentCategoryCode
			,department_category_name as departmentCategoryName
			,department_division_code as departmentDivisionCode
			,department_division_name as departmentDivisionName
			,department_section_code as departmentSectionCode
			,department_section_name as departmentSectionName
			,member_position_name as memberPositionName
			,member_id as meberId
			,member_mobile as memberMobile	
		FROM member 		
		WHERE 
			department_category_code = #{departmentCategoryCode}
		
	</select>
	
	
</mapper> 










