<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<title>memberBasicView</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>memberId</th>
			<th>memberName</th>
			<th>memberEmployeeCode</th>
			<th>departmentName</th>
			<th>departmentCategoryName</th>
			<th>departmentDivisionName</th>
			<th>departmentSectionName</th>
			<th>memberPositionName</th>
			<th>memberLevelTitle</th>
			<th>memberJoinDay</th>
			<th>memberStatus</th>
			<th>memberWork</th>
			<th>memberFormOfEmployment</th>
			<th>memberPhone</th>
			<th>memberMobile</th>
			<th>memberAddress</th>
			<th>memberBirth</th>
			<th>memberDate</th>
			<th>memberPw</th>
			<th>memberRegistantDate</th>			
		</tr>
		<tr th:each="list: ${list}" >
			<td th:text="${list.memberId}"></td>
			<td th:text="${list.memberName}"></td>
			<td th:text="${list.memberEmployeeCode}"></td>
			<td th:text="${list.departmentName}"></td>
			<td th:text="${list.departmentCategoryName}"></td>	
			<td th:text="${list.departmentDivisionName}"></td>
			<td th:text="${list.departmentSectionName}"></td>
			<td th:text="${list.memberPositionName}"></td>
			<td th:text="${list.memberLevelTitle}"></td>
			<td th:text="${list.memberJoinDay}"></td>
			<td th:text="${list.memberStatus}"></td>
			<td th:text="${list.memberWork}"></td>
			<td th:text="${list.memberFormOfEmployment}"></td>
			<td th:text="${list.memberPhone}"></td>
			<td th:text="${list.memberMobile}"></td>
			<td th:text="${list.memberAddress}"></td>
			<td th:text="${list.memberBirth}"></td>
			<td th:text="${list.memberDate}"></td>
			<td th:text="${list.memberPw}"></td>
			<td th:text="${list.memberRegistantDate}"></td>
		</tr>		
	</table>
</body>
</html>