<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<title>memberBasicView</title>
	<script>
		$(document).ready(function(){
			$('.departmentCategoryButton').click(function(){
				console.log('departmentCategoryButton 클릭시 확인');
				let departmentCategoryCode = $(this).attr('value');
				console.log(departmentCategoryCode);
				$.ajax({
					url : '/restDepartmentView'
					,type : 'get'
					,data : {
						departmentCategoryCode : departmentCategoryCode
					}
					,success : function(data){
						console.log('success');
						console.log(data);
					}
					,error : function(error){
						console.log('error');
					}
					
				});
				$('.departmentDivisionButton').click(function(){
					console.log('departmentDivisionButton 클릭시 확인');
					
					
				});
				$('.departmentSectionButton').click(function(){
					console.log('departmentSectionButton 클릭시 확인');
					console.log('error');
					
				});
			});
		});
	</script>
</head>

<body>
	
		
		<div th:each="memberList: ${memberList}">
		
				<button class="departmentCategoryButton"  th:text="${memberList.departmentCategoryName}" th:value="${memberList.departmentCategoryCode}"></button>
			
				<button class="departmentDivisionButton"  th:text="${memberList.departmentDivisionName}" th:value="${memberList.departmentDivisionCode}"></button>
			
				<button class="departmentSectionButton"  th:text="${memberList.departmentSectionName}" th:value="${memberList.departmentSectionCode}"></button>
			
		
		</div>
		
</body>
</html>